<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Milestone Development</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="content-wrapper">
		<!--############################################################
		header nav
		#############################################################-->
		<header>
			<span class="openNav">&#9776;</span>
			<div class="logo">
				<a href="">
					<img class="logo-img" src="../../sucai/milestone-logo-white.gif" alt="logo" >
				</a>
			</div>

			<div class="language">
				<ul>
					<li class="locale"><a href="">EN</a></li>
					<li class="locale"><a href="">中</a></li>
				</ul>
			</div>

			<nav>
				<div class="sidenav">
					<div class="menu-icon">
						<a href="">EN</a>
					</div>
					<hr>
					<div class="menu-icon">
						<a href="">中</a>
					</div>
					<hr>
					<div class="menu-icon">
						<a class="top-menu-link" href="">Portfolio</a> 
					</div>
					<hr>
					<div class="menu-icon">
						<a class="top-menu-link" href="">Building</a> 
					</div>
					<hr>
					<div class="menu-icon">
						<a class="top-menu-link" href="">About Us</a>
					</div>
					<hr>
					<div class="menu-icon">
						<a class="top-menu-link" href="">Contact Us</a>
					</div>
					<hr>
					
				</div>
				
			</nav>
			
		</header>

		<!--############################################################
		section main
		#############################################################-->
		<section class="main-content">

			<div class="home-banner">
			</div>

			<div class="content-2">
				<!-- <div class="thumbnails" id="grid" data-columns>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/56a9e19512d0e.jpg" alt="thumbnail-01"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/Beautiful-weekend-house-in-Colorado mountains-2.jpg"
					alt="thumbnail-02"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/Beautiful-Houses-3.jpg" alt="thumbnail-03"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/c40f9020c9d48cac2a1a330fbb8576d1.jpg" alt="thumbnail-04"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/images.jpeg" alt="thumbnail-05"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/maxresdefault.jpg" alt="thumbnail-06"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/whouse01.jpg" alt="thumbnail-07"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/houses/wh01.jpg" alt="thumbnail-08"></div>

				</div> -->

				<div class="business-proposal">
					<div class="proposal-wrapper">
						<h2 class="description-title">ABOUT US</h2>
						<p class="description-p">Milestone Development, Construction, and Building Supplies Inc. have had more than a decade experience in building single-family residence in city of Vancouver, Richmond and Burnaby. Milestone Development Inc. has become a premier independent developer dedicating to serve our local communities from demolition, renovation, to construction, etc. </p>
						<p class="description-p">The principles of excellent craftsmanship, meticulous planning, and amiable service guide our practices in creating the perfect place of living that our customers always wanted. Your satisfaction is our milestone. </p>
					</div>
					
				</div>

				<!-- <div class="twitter-wrapper">
		            <a class="twitter-timeline"  href="https://twitter.com/hashtag/interiordesign" data-widget-id="870671755626467328">#interiordesign Tweets</a>
		            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		            </script>
          

				</div> -->
			</div>

		</section>
		<!--############################################################
		footer
		#############################################################-->
		<footer>
			<!-- footer 1 -->
			<div class="footer1 span3">
				<div class="milestoneDev">
					<h4>Milestone Construction &amp; Development</h4>
					<span>Recognition marks milestone</span>
					<p>Incoporated more than a decade ago, Milestone Contruction &amp; 
					Development is to committed to serve our community and bring positive influence
						<a href="">Learn more</a> 
					</p>
					<p class="copyright">&#169; 2014 Milestone Development</p>
				</div>
			</div>
			<!-- footer 2 -->
			<div class="footer1 span3 footer2">
				<h4>Site Map</h4>
				<ul class="left-menu">
					<li><a href="">Portfolio</a></li>
					<li><a href="">Building</a></li>
				</ul>
				<ul class="mid-menu">
					<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
					
				</ul>
				<ul class="right-menu">
					<li><a href="">Twitter</a></li>
					<li><a href="">Instagram</a></li>
				</ul>
			</div> 
		</footer>

	</div>

	<!-- ############################################################
	Javascript & JQuery
	############################################################# -->
	<script src="../js/index.js"></script>
	<script src="../js/salvattore.js"></script>
	
</body>

</html>