<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Milestone Development</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="content-wrapper">
		<!--############################################################
		header nav
		#############################################################-->
		<header>
			<span class="openNav">&#9776;</span>
			<div class="logo">
				<a href="">
					<img class="logo-img" src="../../sucai/milestone-logo-white.gif" alt="logo" >
				</a>
			</div>

			<div class="language">
				<ul>
					<li class="locale"><a href="">EN</a></li>
					<li class="locale"><a href="">中</a></li>
				</ul>
			</div>
			<div class="sidenav hide">
				<div class="menu-item">
					<div class="menu-icon-home"></div>
					<a class="top-menu-link" href="">Home</a> 
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a class="top-menu-link" href="">Portfolio</a> 
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a class="top-menu-link" href="">About Us</a>
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a class="top-menu-link" href="">Contact Us</a>
				</div>
				<hr>
				<div class="menu-item">
					<ul>
						<li><a id="lang-link" href="">EN</a></li>
						<li><a id="lang-link" href="">CN</a></li>
					</ul>
				</div>
				<hr>
			</div>
		</header>

		<!--############################################################
		section main
		#############################################################-->
		<section class="main-content">

			<div class="home-banner">
			</div>

			<div class="content-2">
				<div class="about-us">
					<div class="about-wrapper">
						<h3 class="description-title">Build Your New Home</h3>
						<!-- mobile -->
						<p class="mobile-description">Milestone Development &amp;  Construction. has had more than a decade experience in building single-family residence in City of Vancouver, Richmond, and Burnaby.</p>
						<!-- desktop -->
						<p class="description-p">Milestone Development  Construction, and Building Supplies Inc. have had more than a decade experience in building single-family residence in city of Vancouver, Richmond and Burnaby. Milestone Development Inc. has become a premier independent developer dedicating to serve our local communities from demolition, renovation, to construction, etc. </p>
						<!-- desktop -->
						<p class="description-p">The principles of excellent craftsmanship, meticulous planning, and amiable service guide our practices in creating the perfect place of living that our customers always wanted. Your recognition marks our milestone. </p>
					</div>
				</div>

				<!-- mobile -->
				<div class="mobile-thumbnail">
					<div class="mobile-thumbnail-wrapper">
						<img id="mobile-01" src="../../sucai/7511/image_9_0102.jpg" alt="7511">
					</div>
					<div class="mobile-thumbnail-wrapper">
						<img id="mobile-02" src="../../sucai/4011/401101-01.jpg" alt="4011">
					</div>
				</div>

				<!-- mobile -->
				<div class="about-us">
					<div class="about-wrapper">
						<h3 class="description-title">One House At A Time, Crafting Breathtaking Landmarks</h3>
						<p class="mobile-description">The principles of excellent craftsmanship, meticulous planning, and amiable service guide our practices in creating the perfect place of living that our customers always wanted. <b>Your recognition marks our milestone.</b> </p>
					</div>
				</div>

				<!-- mobile -->
				<div class="mobile-thumbnail-wrapper">
					<img id="mobile-03" src="../../sucai/vancouver-layout.jpg" alt="layout">
				</div>

				<!-- mobile -->
				<div class="about-us">
					<div class="about-wrapper">
						<h3 class="description-title">Call Us About Your Home</h3>
						<p class="mobile-description">We are a premier independent developer dedicating to serve our local communities for demolition, renovation, and contruction, etc. <b>Integrity, reliability, and sincerity are basis of our business.</b> </p>
					</div>
				</div>

				<!-- desktop -->
				<div class="thumbnails" id="grid" data-columns>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/afterps/BOA70001-wm.jpg" alt="thumbnail-01"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/afterps/BOC40001-wm.jpg"
					alt="thumbnail-02"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/afterps/BOA70004-wm.jpg" alt="thumbnail-03"></div>
					<div class="thumbnail-wrapper"><img class="thumbnail-img" src="../../sucai/afterps/BOA70002-wm.jpg" alt="thumbnail-04"></div>
					<div class="thumbnail-wrapper hide"><img class="thumbnail-img" src="../../sucai/houses/images.jpeg" alt="thumbnail-05"></div>
					<div class="thumbnail-wrapper hide"><img class="thumbnail-img" src="../../sucai/houses/maxresdefault.jpg" alt="thumbnail-06"></div>
					<div class="thumbnail-wrapper hide"><img class="thumbnail-img" src="../../sucai/houses/whouse01.jpg" alt="thumbnail-07"></div>
					<div class="thumbnail-wrapper hide"><img class="thumbnail-img" src="../../sucai/houses/wh01.jpg" alt="thumbnail-08"></div>
				</div>

				<!-- desktop -->
				<div class="twitter-wrapper">
		            <a class="twitter-timeline"  href="https://twitter.com/hashtag/interiordesign" data-widget-id="870671755626467328">#interiordesign Tweets</a>
		            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		            </script>
				</div>
			</div>
		</section>

		<!--############################################################
		footer
		#############################################################-->
		<footer>
			<!-- footer 1 -->
			<div class="footer1 span3">
				<div class="milestoneDev">
					<h4>Milestone Construction &amp; Development</h4>
					<span id="footer-motto">Recognition marks milestone</span>
					<p>Incoporated more than a decade ago, Milestone Contruction &amp; 
					Development is to committed to serve our community and bring positive influence
						<a href="">Learn more</a> 
					</p>
					<p class="copyright">&#169; 2014 Milestone Development</p>
				</div>
			</div>
			<!-- footer 2 -->
			<div class="footer1 span3 footer2">
				<h4>Site Map</h4>
				<ul class="left-menu">
					<li><a href="">Portfolio</a></li>
					<li><a href="">Building</a></li>
				</ul>
				<ul class="mid-menu">
					<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
					
				</ul>
				<ul class="right-menu">
					<li><a href="">Twitter</a></li>
					<li><a href="">Instagram</a></li>
				</ul>
			</div> 
		</footer>
	</div>

	<!-- ############################################################
	Javascript & JQuery
	############################################################# -->
	<script src="../js/index.js"></script>
	<script src="../js/salvattore.js"></script>
	
</body>

</html>