<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Milestone Portfolio</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/portfolio.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="content-wrapper">
		<!--############################################################
		header nav
		#############################################################-->
		<header id="head">
			<span class="openNav">&#9776;</span>
			<div class="logo">
				<a href="index.html">
					<img class="logo-img" src="../images/index/milestone-logo-white.gif" alt="logo" >
				</a>
			</div>

			<div class="language">
				<ul>
					<li id="translate-english" class="locale">
						<a href="">EN</a>
					</li>
					<li id="translate-chinese" class="locale">
						<a href="">中</a>
					</li>
				</ul>
			</div>
			<div class="sidenav hide">
				<div class="menu-item">
					<div class="menu-icon-home"></div>
					<a id="home" class="top-menu-link" href="">Home</a> 
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a id="portfolio" class="top-menu-link" href="portfolio.html">Portfolio</a> 
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a id="about-us" class="top-menu-link" href="">About Us</a>
				</div>
				<hr>
				<div class="menu-item">
					<div class="menu-icon"></div>
					<a id="contact-us" class="top-menu-link" href="contact.html">Contact Us</a>
				</div>
				<hr>
				<div class="menu-item">
					<ul>
						<li><a href="">EN</a></li>
						<li><a href="">中</a></li>
					</ul>
				</div>
				<hr>
			</div>
			<nav>
				<ul class="top-menu">
					<li><a class="top-menu-link" href="">PORTFOLIO</a> </li>
					<li><a class="top-menu-link" href="">BUILDING</a> </li>
					<li><a class="top-menu-link" href="">ABOUT US</a> </li>
					<li><a class="top-menu-link" href="">CONTACT US</a></li>
				</ul>
			</nav>
		</header>
		<!--############################################################
		section main
		#############################################################-->
		<section class="portfolio-content">
			<!-- mobile -->
			<div class="about-us">
				<div class="about-wrapper">
					<h3 class="description-title">Buiding Portfolio</h3>
					<p class="mobile-description">Click on any project to visit portfolio of each landmark, see photos and learn about unique features each development has to offer </p>
					<p class="mobile-description">The next chapter of your life begins here.</p>
				</div>
			</div>

			<div class="image-wrapper">
				<div class="crown">
					<a href="crown.html">
						<img id="crown-frontview" src="../images/portfolio/crown/crown-frontview.jpg" alt="crown-frontview">
					</a>
				</div>

				<div class="afton">
					<a href="afton.html">
						<img id="afton-frontview" src="../images/index/afton-overview.jpg" alt="afton-frontview">
					</a>
				</div>

				<div class="churchill">
					<a href="churchill.html">
						<img id="churchill-frontview" src="../images/portfolio/churchill/churchill-frontview.jpg" alt="churchill-frontview">
					</a>
				</div>
				<div class="point-grey">
					<a href="pg.html">
						<img id="point-grey-frontview" src="../images/portfolio/point-grey/pg-frontview.jpeg" alt="point-grey-frontview">
					</a>
				</div>
			</div>
			

		</section>

		<!--############################################################
		footer
		#############################################################-->
		<footer>
			<!-- footer 1 -->
			<div class="footer1 span3">
				<div class="milestoneDev">
					<h4>Milestone Construction &amp; Development</h4>
					<span id="footer-motto">Recognition marks milestone</span>
					<p class="copyright">&#169; 2014 Milestone Development</p>
				</div>
			</div>
			<!-- footer 2 -->
			<div class="footer1 span3 footer2 footer3">
				<h4>Site Map</h4>
				<ul class="left-menu">
					<li><a href="#head">Home</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
				</ul>
				<ul class="mid-menu">
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="">About Us</a></li>
					
				</ul>
				<ul class="right-menu">
					<li><a href="">Twitter</a></li>
					<li><a href="">Instagram</a></li>
				</ul>
			</div> 
			<!-- footer 3 -->
			<div class="footer1 span3 footer2 footer4">
				<h4>Location</h4>
				<p>#150-11760 Voyageur Way, Richmond, BC</p>
				<p>General Inquiry: 001(778)322-3935</p>
				<p>Web Designed by <a href="https://github.com/li-zhijian">Martin</a></p>
			</div>
		</footer>
	</div>

	<!-- ############################################################
	Javascript & JQuery
	############################################################# -->
	<script src="../js/index.js"></script>
	<script src="../js/portfolio.js"></script>
	<script src="../js/salvattore.js"></script>
	
</body>

</html>